@import 'normalize.css/normalize.css'
@import './_variables'
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Lato:wght@300;400;700;900&display=swap')
// @import url('https://fonts.googleapis.com/css2?family=Inter&display=swap')

html
    height: 100%

body
    background: $white
    overflow-x: hidden
    display: flex
    flex-direction: column

*
    font-family: 'Lato', 'Inter', sans-serif
    z-index: 1
    box-sizing: border-box

main
    margin-top: $navbarHeight
    flex: 1 0 auto

p
    margin: 2rem
    text-align: center
    line-height: 1.4
    color: $font

h1
    font-size: toRem(28) !important
    text-align: center
    font-weight: 700
    color: $black

.mdParagraphBtn
    @include md
        display: flex
        width: 80%
        align-items: center
        margin: 0 auto
        gap: 3rem
        p
            text-align: left
            flex: 2.2
        div
            flex: 1
    @include lg
        margin: 3.5rem auto
        p
            flex: 2.8
        div
            flex: 1
