//* Variables

//* Colors

$white: #f7fcfb
$black: #083344
$font: #2a393f
$primary: #0F7490
$secondary: #e6f4f1
//* heights
$navbarHeight: 3.5rem

//* Box shadows
$shadow-xl: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1)
$medium: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1)
