@import '../../styles/_variables'

.title
    color: $white
    position: absolute
    bottom: 0
    font-size: 1.75rem
    margin: 1rem

.container
    position: relative

.image
    width: 100%
    height: auto
    display: block

.small
    font-size: 1.5rem
