@import '../../styles/_variables'

.container
    @include button

    background: $black
    color: $white

    .text
        color: $white

.containerSecondary
    @include button

    background: $white
    border: 2px $black solid
    color: $black

    .text
        color: $black

.text
    text-decoration: none
    padding: 1rem 0.5rem
    margin: 0
    display: block
